  <nav class="navbar navbar-default make_black no_margin">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Abrar Musa</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid background_style">
  <div class="col-md-4"></div>
  <div class="col-md-4"><h1 id="big_name"> THIS IS MY PAGE </h1></div>
  <div class="col-md-4"></div>
</div>



<div class="container-fluid about_me">
  <div class="col-sm-12 col-md-12 col-lg-12"><h1 class="center_text">About Me</h1></div>
  <img src="/images/george.jpg" alt="Mountain View" class="img-responsive img-circle about_me_img">
  <div class="col-sm-12 col-md-12 col-lg-12">
  <p class="center_text about">Hi, I'm Abrar, a student in Computer Science at the University of British Columbia. If you can give me an interesting problem to solve and rack my brain over, I will love you forever and ever.</p>
  <p class="center_text about">I have a fair bit of experience in Web Development particularly in Ruby on Rails and NodeJS/Express. Recently I've delved into the world of React Native and found myself enjoying using web technologies to build native mobile Experiences.</p>
	<p class="center_text about">I am currently looking for full time opportunities in Software Engineering in backend teams.</p>
  </div>
</div>
<div class="container-fluid projects">
    <div class="col-sm-12 col-md-12 col-lg-12"><h1 class="center_text">Projects</h1></div>
  {{!-- PROJECTS --}}
  <div class="col-md-3"> 
  <h2>Sample Project</h2> 
    <p>This is my cool project man. Hire me. Please. I'll do anything, if you pay me enough</p>
    <img src="http://www.w3schools.com/html/pic_mountain.jpg" alt="Mountain View" class="img-responsive">
  </div>
  <div class="col-md-3"> 
  <h2>Sample Project</h2> 
    <p>This is my cool project man. Hire me. Please. I'll do anything, if you pay me enough</p>
    <img src="http://www.w3schools.com/html/pic_mountain.jpg" alt="Mountain View" class="img-responsive">
  </div>
  <div class="col-md-3"> 
  <h2>Sample Project</h2> 
    <p>This is my cool project man. Hire me. Please. I'll do anything, if you pay me enough</p>
    <img src="http://www.w3schools.com/html/pic_mountain.jpg" alt="Mountain View" class="img-responsive">
  </div>
  <div class="col-md-3"> 
  <h2>Sample Project</h2> 
    <p>This is my cool project man. Hire me. Please. I'll do anything, if you pay me enough</p>
    <img src="http://www.w3schools.com/html/pic_mountain.jpg" alt="Mountain View" class="img-responsive">
  </div>
  {{!-- END OF PROJECTS SECTION --}}
</div>
<div class="container-fluid">
    <div class="col-sm-12 col-md-12 col-lg-12"><h1 class="center_text">Work Experience</h1></div>
  <div class="col-sm-12 col-md-12 col-lg-12"><p>Hi, I'm Abrar and</p></div>
  {{!-- PROJECTS --}}
  <div class="col-md-3"> 
  <h2>Sample Project</h2> 
    <p>This is my cool project man. Hire me. Please. I'll do anything, if you pay me enough</p>
    <img src="http://www.w3schools.com/html/pic_mountain.jpg" alt="Mountain View" class="img-responsive">
  </div>
  <div class="col-md-3"> 
  <h2>Sample Project</h2> 
    <p>This is my cool project man. Hire me. Please. I'll do anything, if you pay me enough</p>
    <img src="http://www.w3schools.com/html/pic_mountain.jpg" alt="Mountain View" class="img-responsive">
  </div>
  <div class="col-md-3"> 
  <h2>Sample Project</h2> 
    <p>This is my cool project man. Hire me. Please. I'll do anything, if you pay me enough</p>
    <img src="http://www.w3schools.com/html/pic_mountain.jpg" alt="Mountain View" class="img-responsive">
  </div>
  <div class="col-md-3"> 
  <h2>Sample Project</h2> 
    <p>This is my cool project man. Hire me. Please. I'll do anything, if you pay me enough</p>
    <img src="http://www.w3schools.com/html/pic_mountain.jpg" alt="Mountain View" class="img-responsive">
  </div>
  {{!-- END OF PROJECTS SECTION --}}
</div>