<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>{{title}}</title>
		<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- THE FOLLOWING LINK BASICALLY REFERENCES A STYLESHEET FROM A THE FOLDER THAT THIS CURRENT HTML FILE IS IN -->
		<link rel="stylesheet" href="/stylesheets/styles.css">
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>

		<body>
			{{{body}}}
		</body>
	</html>
